@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lustria&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none;
  list-style: none;
  font-family: 'Baloo Bhaijaan 2', sans-serif;

}

:root {
  --primary-clr: #2A363B;
  --secondary-clr: #CF4647;
  --secondary-clr-dark: #cf4646c0;
  --secondary-clr-light: #cf46462b;
  --third-clr: #F5D061;
  --text-clr: #F8F6F6;
}
