.home{
    display: flex;

    .homeContainer{
        overflow-x: scroll;
        flex: 6;
        .widgets{
            display: flex;
            align-items: center;
            flex-wrap: wrap !important;
            padding: 20px;
            justify-content: center;
            gap: 1.5%;
        }
    }
    .listContainer{
       margin: 20px;
       .listTitle{
        color: gray;
        font-weight: 500;
        margin-bottom: 15px;
       }
    }
}

@media screen and (max-Width:'1000px') {
    .widgets {
       margin-top: 50px;
    }
}