.sidebar {
    flex: 1;
    border-left: .5px solid rgba(211, 211, 211, 0.489);
    // min-height: 100vh;
    background-color: var(--text-clr);
    transition: all .5s;
    

    &::-webkit-scrollbar{
        display: none;
    }

    .top {
        height: 49px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            font-size: 20px;
            font-weight: bold;
            color: var(--secondary-clr);
        }
    }

    hr {
        height: 0;
        border: .5px solid rgba(211, 211, 211, 0.489);
    }

    .center {
        padding-right: 10px;

        .title {
            font-size: 10px;
            font-weight: bold;
            color: #999;
            margin-top: 15px;
            margin-bottom: 5px;
        }

        li {
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: var(--secondary-clr-light);
            }

            .icon {
                font-size: 18px;
                color: var(--secondary-clr);
            }

            span {
                font-size: 13px;
                font-weight: 600;
                color: #888;
                margin-right: 10px;
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 10px;

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
            border: 1px solid var(--primary-clr);

            &:nth-child(1) {
                background-color: white;
            }

            &:nth-child(2) {
                background-color: var(--primary-clr);
            }
        }
    }
}

.sidebar-onclick {
    transform: translateX(0) !important;
}


@media screen and (max-Width:'1000px') {
    .sidebar.sidebar-responsive {
        position: fixed;
        flex: 0;
        top: 50px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        transform: translateX(300px);
        width: 200px;
        
        overflow-y: scroll;
        .top{
            display: none;
        }
    }
}