.datatable {
    padding: 20px;
  
    .dataTableTitle {
        margin-bottom: 20px;
        display: flex;
        border-radius: 10px;
        padding: 20px;
        border: .5px solid rgba(0, 0, 0, .059);

        h1 {
            font-size: 20px;
            color: gray;
            font-weight: 600;
        }

    }

    .MuiDataGrid-cell--textLeft {
        text-align: start !important;
    }

    .MuiTablePagination-actions {
        direction: ltr;
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
            margin-left: 20px;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;


        &.active {
            color: green;
        }

        &.passive {
            color: red;
        }
    }

    .actionButtons {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 100%;

        a {
            line-height: 0;
            height: fit-content;
            cursor: pointer;


        }

        span {
            line-height: 0;
            height: fit-content;
            cursor: pointer;
        }


        .viewBtn {
            border-radius: 5px;
            padding: 2px 5px;
            color: goldenrod;
        }

        .deleteBtn {
            border-radius: 5px;
            padding: 2px 5px;
            color: rgb(255, 0, 111);
        }

        .editBtn {
            border-radius: 5px;
            padding: 2px 5px;
            color: rgb(140, 1, 108);
        }
    }

    .MuiToolbar-root {
        direction: ltr;
        justify-content: start;
    }

    .MuiTablePagination-selectLabel {
        display: none !important;
    }
}

@media screen and (max-width:1000px) {
    .datatable {
        margin-top: 50px;

        .dataTableTitle {
            padding: 10px;

            h1 {
                font-size: 18px;
            }

        }

        .MuiDataGrid-menuIcon {
            display: none !important;
        }
    }
}